@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  width: 300px;
  background-color: #dee1ec;
  border-radius: 8px;
  padding: 15px 10px;
}
#display {
  width: 100%;
  height: 4rem;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: greenyellow;
  border-radius: 10px;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 2rem;
  margin-bottom: 20px;
}
#number {
  width: 85%;
  text-align: right;
}
#operator {
  width: 15%;
  text-align: center;
}
#buttons {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 2fr;
}
#buttons button {
  margin: 3px;
  padding: 10px 0;
  border-radius: 25%;
  border: 1px solid lightseagreen;
  font-weight: bold;
}
#buttons button:focus {
  outline: none;
}
#buttons button:active,
.button-pressed {
  background-color: lightseagreen;
  box-shadow: 0 0 20px #21ebff;
}
#add {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column: 4;
}
#equals {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column: 4;
}
#zero {
  grid-column-start: 1;
  grid-column-end: 3;
}
